<% layout('layouts/boilerplate') %>


<div id="cluster-map">

</div>

<body>
    <h1 class="text-center">All Venues</h1>
    <a href="/venues/new" class="text-center btn">Add Venue</a>
    <div class="row">
        <ul>
            <div class="row">
                <% for (let venue of venues) { %>
                    <div class="col-lg-6 mb-1">
                        <div class="card mb3">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="img-fluid" src="<%= venue.images[0].url %>" alt="">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body p-0">
                                        <h2 class="card-title">
                                            <%= venue.title %>
                                        </h2>
                                        <h5 class="text-muted">
                                            <%= venue.location %>
                                        </h5>
                                        <p class="card-text">
                                            <%= venue.description %>
                                        </p>
                                        <a class="btn btn-primary mb-1" href="/venues/<%= venue._id %>">View
                                            <%= venue.title %></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </ul>
    </div>
</body>

<script> 
    const mapToken ='<%-process.env.MAPBOX_TOKEN%>' 
    const venues = {features:<%-JSON.stringify(venues)%>}
</script>

<script src="/clusterMap.js"></script>

</html>