<% layout('layouts/boilerplate') %>


    <body>
        <div class="row">
            <div class="col-6">
                <div class="card mb-1">
                    <img src="<%= campground.image %>" class="card-img-top mh-25" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %> Campground
                        </h5>
                        <p class="card-text"><span class="text-muted">Campground Description: </span>
                            <%= campground.description %>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Location: <%= campground.location %>
                        </li>
                        <li class="list-group-item">Price: $<%= campground.price %>
                        </li>
                    </ul>
                    <div class="card-body">
                        <a href="/campgrounds" class="card-link btn btn-info">All Campgrounds</a>
                        <!-- Authentication check to only show if author matches article -->
                        <% if(currentUser && campground.author.equals(currentUser._id)) { %>
                            <a href="/campgrounds/<%=campground._id%>/edit" class="card-link btn btn-success">Edit
                                Campground</a>
                            <!-- Form with override method to delete -->
                            <form class="d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE"
                                method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        <% } %>
                    </div>
                    <div class="card-footer text-muted">
                        Created by: <%= campground.author.username %>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <% if(currentUser) { %> 
                    <form action="/campgrounds/<%=campground._id%>/reviews" method="POST" class="validated-form" novalidate>
                        <div class="my-3">
                            <label class="form-label" for="rating">Rating</label>
                            <input class="form-range" type="range" name="review[rating]" id="rating" min="1" max="5">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="body">Review</label>
                            <textarea class="form-control" name="review[body]" id="body" cols="30" rows="5"
                                required></textarea>
                        </div>
                        <button class="btn btn-success mb-1">Submit Review</button>
                    </form>
                <% } %> 
                <div>
                    <% for (let review of campground.reviews) { %>
                        <div class="card mb-1">
                            <p class="card-body p-1 mb-0">Rating: <%= review.rating %> <br> Description: <%= review.body
                                        %>
                            </p>
                            <!-- Override method to Delete review -->
                            <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
                                method="POST">
                                <button class="btn btn-danger mb-1 mx-1">Delete</button>
                            </form>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>
    </body>

    </html>